{% extends 'base.html' %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'ar_index' %}">Página inicial</a></li>
        <li><a href="{% url 'ar_show' atividade.req_id.ar_id.id %}">Projeto</a></li>
        <li><a href="{% url 'requisito_show' atividade.req_id.id %}">Requisito</a></li>
        <li class="active">Atividade</li>
    </ul>
    <h2>Descrição</h2>
    <p>{{ atividade.descricao }}<a href="{% url 'atividade_edit' %}" class="btn btn-link btn-sm">Editar Atividade</a></p>

    <b>Data de Início:</b>
    <ul>
        <li>{{ atividade.data_inicio }}</li>
    </ul>
    <b>Data de Entrega:</b>
    <ul>
        <li>{{ atividade.data_fim }}</li>
    </ul>
    <b>Prazo:</b>
    <ul>
        <li>{{ atividade.prazo }}</li>
    </ul>


    <ul>
        <li>
            <h4>{{ atividade.dev_id.nome }}
                <small><i>{{ atividade.dev_id.email }}</i></small>
            </h4>
        </li>
    </ul>

{% endblock %}
