{% extends 'base.html' %}
{% block content %}
    <ul class="breadcrumb"><li class="active">Página inicial</li></ul>
    <h2>Análise de Requisitos</h2>

    {% for projeto in todos_projetos %}
        <ul>
            <li><h4><a href="{% url 'ar_show' projeto.0 %}">{{ projeto.1 }}</a></h4></li>
        </ul>
    {% endfor %}

    <a href="{% url 'ar_new' %}" class="btn btn-primary btn-sm">Criar novo Projeto</a>

    <h2>Minhas Atividades</h2>

    {% for atividade in todas_atividades %}
        <ul>
            <li><bit><a href="{% url 'atividade_show' atividade.0 %}">{{ atividade.1 }}</a></big>
                (Prazo: {{ atividade.2 | date:"d/m/Y" }})</li>
        </ul>
    {% endfor %}

    <a href="{% url 'ar_new' %}" class="btn btn-primary btn-sm">Criar novo Projeto</a>
{% endblock %}
