{% extends 'base.html' %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'ar_index' %}">Página inicial</a></li>
        <li><a href="{% url 'ar_show' request.session.ar_id %}">Projeto</a></li>
        <li class="active">Novo Requisito</li>
    </ul>
    <form class="form-group" action="{% url 'requisito_create' %}" method="post">
        <h2 class="form-signin-heading">Criar um novo Requisito</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Criar" class="btn btn-primary"/>
    </form>
{% endblock %}